
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    
    <p>
    Happy Birthday....!! <%= @reminder.name %>
    </p>
    <%= image_tag attachments['birthday.gif'].url  %>
    <p> Have a great day!</p>
  </body>
</html>
